/* MD2设计 */
.mdui-card {border-radius: 10px !important;}
.mdui-btn {border-radius: 8px !important;}
.mdui-drawer .mdui-list-item {
    padding-left: 20px;
    border-radius: 0 50px 50px 0
}
.mdui-chip {
    background-color: #f1f6fe;
}

.img-round {
    border-radius: 10px !important;
}
.mdui-fab {
    border-radius: 20%;
}
.mdui-dialog {
    border-radius: 20px;
}
/* 平铺大图 */
.rss-largepic {  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* 透明 */
.mdui-toolbar , .mdui-appbar {
    background-color: transparent;
}

